<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Re-Searcher</title>
    <!-- <link rel="stylesheet" href="D:\DATA SCIENCE\Web_Scrapping\static\CSS\style.css"> -->
    <link rel="stylesheet" href="/static/CSS/style.css">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="wrapper">
        <div class="long-bar"></div>
        <div class="big-text">
            <h1>Search</h1>
            <h1>Customer</h1>
            <h1>Reviews</h1>
        </div>

        <form action="/review" method="POST">
            <div class="search-bar">
                <input type="text" placeholder="Search here" id="content" name="content">
                <button id="search-btn" type="submit" value="search" >
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </form>


    </div>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/845d4afe8c.js" crossorigin="anonymous"></script>
    <!-- <script src="index.js"></script> -->
    <script src="/static/JS/index.js"></script>

</body>
</html>